<mat-drawer-container class="example-container" [hasBackdrop]="!isDesktop">
  <mat-drawer #drawer [mode]="isDesktop ? 'side' : 'over'" [opened]="!!isDesktop">
    <mat-list>
      <mat-list-item [routerLink]="">Seats</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item class="logout-btn" (click)="handleLogout()">Logout</mat-list-item>

    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar>
      @if (!isDesktop) {
        <button mat-icon-button (click)="drawer.toggle()" class="example-icon"
                aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
      }
      <span>My App</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
